body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 500px;
  padding: 10px;
  border-radius: 20px;
}
input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #333;
  margin-top: 20px;
  font-size: 19px;
  padding-left: 10px;
}
.formBtn {
  display: flex;
  justify-content: center;
}
.submit {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;

  font-size: 19px;
  color: white;
  background-color: black;
}
